@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    
}

.body-container {
    flex: 1;
}


ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    font-family: Roboto, sans-serif;
    background: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 24px;
    flex-shrink: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 64px;
    margin-right: 64px; */
    width: 100%;
    max-width: 1200px;
}

.subtext, a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    width: 100%;
    max-width: 1200px;
    padding: 128px 0;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 16px;
}

.subtext, .hero-btn {
    margin-bottom: 16px;
    max-width: 400px;
}

.hero-image {
    background-color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info {
    text-align: center;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

.info-box {
    /* max-width: 200px; */
}

.info img {
    border: solid #3882f6;
    border-radius: 8px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 32px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-source {
    font-weight: bolder;
    font-size: 24px;
    align-self: flex-end;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    margin: 64px 128px;
    padding: 32px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
}

.action {
    display: flex;
    justify-content: center;
}
.action-big {
    font-size: 24px;
    font-weight: bold;
}

.action-btn {
    border: solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px;
}
