body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.subtext, a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info {
    text-align: center;
}

.info-header {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info img {
    width: 100px;
    height: 100px;
    border: solid #3882f6;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px;
}
